html,
body {
    width: 100%;
    height: 100%;
    position:relative;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

a {
    color: #F07241;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    transition: all .25s;
}

a:hover,
a:focus {
    color: #F07241;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url('../images/IMG_0173.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 300;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

.social-media{
    padding:15px;
}

.logoImage {
    height:80px;
    padding:0;
    margin:0;
}

.article {
    padding-top: 40px;
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

	header .header-content .header-content-inner h1 {
    	font-size: 77px;
		}

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }

}


.section-heading {
    margin-top: 0;
    margin-bottom: 20px;
}

.intro {
	color: #fff;
    background-color: #F07241;
    padding: 70px 0;
    text-align: center;
}

.article-top {
    color: #fff;
    background-color: #F07241;
    padding: 150px 0 40px 0;
    text-align: center;
}

.content {
    padding: 60px 0;
}

.content-2 {
	color: #fff;
    background-color: #222;
}

.content-3 {
	padding: 20px 0 40px;
	text-align: center;
}


.promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {
    color: white;
	text-shadow: 0px 0px 40px black;
    text-decoration: none;

}

.promo-item {
    background-size: 100%;
    line-height: 250px;
    text-align: center;
    border: 10px solid #fff;
}

.promo-item:hover {
    background-size: 103%;
    border: 20px solid #fff;
    line-height: 245px;

}

.promo-item h3 {
    font-size: 36px;
    display: inline-block;
    vertical-align: middle;

}

.item-1 {
	background: url('../images/G_IO.png');
	}

.item-2 {
	background: url('../images/mobileSenegal.jpg');
	}

.item-3 {
	background: url('../images/mitAppInventor.jpg');
	}

.item-4 {
    background: url('../images/beacons.jpg');
}

.item-5 {
    background: url('../images/everydayApp.jpg');
}

.item-6 {
    background: url('../images/appDock.jpg');
}

.item-7 {
    background: url('../images/MITCit.JPG');
}

.item-8 {
    background: url('../images/cs639.JPG');
}

.item-9 {
    background: url('../images/cs643.jpg');
}
.item-10 {
    background: url('../images/androidLogo.jpg');
}
.item-11 {
    background: url('../images/lilypad.jpg');
}
.item-12 {
    background: url('../images/ionic.png');
}
.item-13 {
    background: url('../images/dataDevelopment.JPG');
}
.item-14 {
     background: url('../images/entrepreneurship.jpg');
}
.item-15 {
    background: url('../images/MITCit.JPG');
}


.item-div{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
}

.spotlight-image{
    height:30%;
    width:80%;
    position:relative;
    margin:0;
    padding:0;
}

.team{
    height:60%;
    width:60%;
}

.p-text-align-center{
    text-align: center;
}

.team-header{
    margin:0;
    padding:0;
}

.page-footer {
	text-align: center;
	}

.page-footer .contact {
	padding: 100px 0;
	background-color: #222;
	color: #fff;
	}

.page-footer img {
    height: 100px;
}

.page-footer .contact p {
	font-size: 22px;
	font-weight: 300;
	}
	
.content-3 .glyphicon,	
.page-footer .contact .glyphicon {
	font-size: 32px;
	font-weight: 700;
	}
		
.page-footer .small-print {
	padding: 50px 0 40px;
	font-weight: 300;
	}

.text-light {
    color: rgba(255,255,255,.7);
}

#brand-logo{
    height:40px;
    padding:0 0 0 20px;
    margin:0;
    float:left;
}

.navbar-default {
    border:none;
    padding-top:10px;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    color: #F07241;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #F07241;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #F07241 !important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
        letter-spacing: 0.5em;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .float-left {
        float:left;
        position:relative;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: #fff;
        background-color: #fff;
        box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.1);
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        letter-spacing: 0;
        color: #F07241;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #F07241;
    }
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #eee;
    color: #222;
    background-color: #eee;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #F07241;
    color: #fff;
    background-color: #F07241;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #F07241;
    color: #fff;
    background-color: #F07241;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #F07241;
    background-color: #F07241;
}

.btn-primary .badge {
    color: #F07241;
    background-color: #fff;
}

.bold{
    font-weight:bold;
}

.white-link{
    color:#fff;
}

.btn {
    border-radius: 300px;
    text-transform: uppercase;
    padding: 5px;
}

.btn-lg {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.text-primary {
    color: #F07241;
}

.bg-primary {
    background-color: #F07241;
}
